<div class="main-div">
  <mat-card class="z-depth center" flex="50">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" src="./favicon.png">
      <mat-card-title>Hussain Mukadam</mat-card-title>
      <mat-card-subtitle>Software Engineer and Tech Enthusiast</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/madmeetup-talk.jpg" alt="" (click)="openLink()">
    <mat-card-content>
      <p>About:</p>
      <p class="paragraph">
        Learning new technologies and implementing them in the most efficient way is my goal, I have a keen interest in Android Development and Machine Learning.
      </p>
      <p class="paragraph">
        You can learn more about me and my work by checking out the links below, and if you are wondering what's that image above, it's from the Kotlin Talk that I gave at the Mumbai Android Developer's Meetup, click on the image to get the slides! :)
      </p>
    </mat-card-content>
    <div class="icons-div">
      <mat-card-actions>
        <a href="https://github.com/hsm59" target="_blank">
          <img class="img-properties" src="./assets/github-logo.svg" hspace="10"/>
        </a>
        <a href="https://stackoverflow.com/users/1992823/hsm59" target="_blank">
          <img class="img-properties" src="./assets/so-logo.svg" hspace="10"/>
        </a>
        <a href="https://www.linkedin.com/in/mukadam59/" target="_blank">
          <img class="img-properties" src="./assets/linkedin-logo.svg" hspace="10"/>
        </a>
        <a href="https://medium.com/@mukadam59" target="_blank">
          <img class="img-properties" src="./assets/medium-logo.svg" hspace="10"/>
        </a>
        <a href="https://twitter.com/HSM59" target="_blank">
          <img class="img-properties" src="./assets/twitter-logo-button.svg" hspace="10"/>
        </a>
      </mat-card-actions>
    </div>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>
</div>
