
.center {
  width: 75%;
  margin: 10px auto;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.z-depth {
  width: 400px;
  box-shadow: 0 8px 8px rgba(10, 16, 20, 0.55), 0 0 52px rgba(10, 16, 20, 0.55) !important;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.z-depth:hover {
  box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12) !important;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.img-properties {
  width: 50px;
  height: 50px;
}

.outer-block {

}

.inner-block {

}

.mail-properties {
  width: 60px;
  height: 60px;
  right: 30px;
  margin-top: -50px;
  position: absolute;
}

.fill-space {
  flex: 1 1 auto;
}

.icons-div {
  justify-content: center;
  display: flex;
}

.example-header-image {
  width: 40px;
  height: 40px;
}

.about-start {

}

.paragraph {
  color: #686868;
  line-height: 1.5;
}

.circle-shadow {
  background-color: #BCBBBB;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(10, 16, 20, 0.55), 0 0 52px rgba(10, 16, 20, 0.55) !important;
}
